<div class="map-container">
  <LeafletMap @lat="49.884456" @lng="-97.146848" @zoom="10" as |layers|>
    <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>

    {{#each this.model.features as |feature|}}
      <Division @layers={{layers}} @feature={{feature}} />
    {{/each}}
  </LeafletMap>
</div>

<svg>
  {{#each this.patternIds as |patternId|}}
    <Pattern @patternId={{patternId}} />
  {{/each}}
</svg>
{{outlet}}

